<h1>Welcome to Home Page of  Autoscaling Demo Application </h1>
<div class="container">
<div class="div-right"> {% include "server_stat.html" %} </div>
<div class="div-leftt">
<ul>
<li> You access the page from a load balancer IP /url  </li>
<li> Note the Server name , IP and CPU load </li>
<li> GEnerate Load on CPU so that autoscale can be triggered  </li>
<li> Go to Openstack monitoring view and provide authentication info  </li>
<li> Observer CPU load from the openstack view There is at least 15 minutes delay before the load is captured  </li>
<li> See from Openstack monitoring view new server gets added  </li>
<li> Come back to home page and refresh to see the server name and IP will change  </li>
<li> Any new request to the load balancer IP /URL will load balance  between newly created servers</li>
<li> Perform a DB transaction to check consistency while multiple app servers handles the request </li>
<li> Kill CPU load to  see scale down triggers and additional servers deleted </li>
</ul>
 </div>
</div>
<br>
<h3> Check a DB transaction by Placing an  your order here </h3>
<form action="" method="POST" > 
{% csrf_token %} 
<tr>
<td><{{ order_form }}</td> <td> <input type ="submit" value = "submit"  style="width: 110px"/> </td> 
</tr>
</form>

<br><br>
<h3> Order Status : - </h3>
<h5>{{ msg }} <h5> 
<br><br>


<div class="container">
<div class="div-left">

<h2> Order History</h2>
<table>
<th>Order No. </th>
<th> Item </th>
<th>Quantity</th>
{% for o in order_all %}
<tr>
<td> {{ o.id }} </td>
<td> {{ o.laptop }} </td>
<td> {{ o.qty }} </td>
<!-- td> {{ o.ordernum }} </td-->
</tr>
{% endfor %}
</table>

</div>

<div class="div-right">
<h2> Inventory Status</h2>
<table>
<th> ModelID </th>
<th> Model </th>
<th>Current Stock</th>
<th>Initial Stock</th>
{% for l in laptop_all %}
<tr>
<td> {{ l.id }} </td>
<td> {{ l.laptopmodel }} </td>
<td> {{ l.currentstock }} </td>
<td> {{ l.totalstock }} </td>
<!-- td> {{ o.ordernum }} </td-->
</tr>
{% endfor %}
</table>
<p><a href="{%  url 'simpleapp1:inventory'  %} "> Add Stock to Inventory Inventory click here</a></p>

</div>
</div>
<style>
   
   table {font-size:8pt;width:100%;color:blue;border:0px solid black;}
   td  {border:1px solid black;}
   input {width:50;color:blue;font-size:8pt;width:60px}
    .div-left{
    float:left;
    padding-left:10px;
    margin-left:20px
}
.div-right{
    float:right;
    padding-right:10px;
    margin-right:100px
}
.container{
     
    max-width:100%;
    border:1px solid salmon;
    
    padding-top:5px;
}

.td-log {width:90%

}
   </style>


