<h1>Welcome to Home Page of ITSS Autoscaling Testing Application </h1>
<div class="div-right">

{% include "server_stat.html" %}
</div>

<h3> Place your order here </h3>
<form action="" method="POST" > 
{% csrf_token %} 
<tr>
<td><{{ order_form }}</td> <td> <input type ="submit" value = "submit"  style="width: 110px"/> </td> 
</tr>
</form>

<br><br>

<h3> Order Status : - </h3>
<h5>{{ msg }} <h5> 
<br><br>


<div class="container">
<div class="div-left">

<h2> Order History</h2>
<table>
<th>Order No. </th>
<th> Item </th>
<th>Quantity</th>
{% for o in order_all %}
<tr>
<td> {{ o.id }} </td>
<td> {{ o.laptop }} </td>
<td> {{ o.qty }} </td>
<!-- td> {{ o.ordernum }} </td-->
</tr>
{% endfor %}
</table>

</div>

<div class="div-right">
<h2> Inventory Status</h2>
<table>
<th> ModelID </th>
<th> Model </th>
<th>Current Stock</th>
<th>Initial Stock</th>
{% for l in laptop_all %}
<tr>
<td> {{ l.id }} </td>
<td> {{ l.laptopmodel }} </td>
<td> {{ l.currentstock }} </td>
<td> {{ l.totalstock }} </td>
<!-- td> {{ o.ordernum }} </td-->
</tr>
{% endfor %}
</table>
<p><a href="admin/simpleapp1/laptop/"> Add Stock to Inventory Inventory click here</a></p>
</div>
</div>
<style>
   
   table {font-size:8pt;width:100%;color:blue;border:0px solid black;}
   td  {border:1px solid black;}
   input {width:50;color:blue;font-size:8pt;width:60px}
    .div-left{
    float:left;
    padding-left:10px;
    margin-left:20px
}
.div-right{
    float:right;
    padding-right:10px;
    margin-right:100px
}
.container{
     
    max-width:100%;
    border:1px solid salmon;
    
    padding-top:5px;
}

.td-log {width:90%

}
   </style>


