

<h1>Welcome to Home page for AutoScaling Demo Application </h1>

<table >

<tr> 
<td>
	<p> Hostname  </p> 
</td>
<td>
	<p> {{ hostname }} </p> 
</td>
</tr> 
<tr> 
<td>
	<p> IP address  </p> 
</td>
<td>
	<p> {{ ipaddr }} </p> 
</td>
</tr> 
<tr> 
<td>
	<p> Current CPU Utilization  </p> 
</td>
<td>
	<p> {{ cpu_util }} </p> 
</td>
</tr> 
<tr>
<td> Load Generator</td> 
<td><a href="cpuload/">To generate load on CPU  - click here</a></td>
</tr>t
</table>
<div class="div-right">
<h2> Select Laptop to be Ordered </h2>
 <div id="" style="overflow-y: scroll;width:100%">
 {{ laptop_inventory.management_f }}
    <!-- table-->
    <table>
    <th>ID</th>
    <th>Laptop Model</th>
    <th>Total Stock</th>
    <th>Available </th>
    <th>Order Qty </th>
    <th> Select </th>
  {% for f in laptop_inventory %}
     {% csrf_token %}  
      
      <!-- <div>{{f.as_table}} </div>  
      -->  
<form action="" method="POST" > 
     <tr>     
         <td> <input id ="laptopmodelid " label = "laptopmodelid" name = "laptopmodelid"  value= {{ f.id.value}} readonly/> </td>
         <td><input id = "laptopmodel" label = "laptopmodel" name = "laptopmodel"  value= {{ f.laptopmodel.value}} readonly/> </td>
         <td><input id = "totalstock" label = "totalstock"  name = "totalstock"  value= {{ f.totalstock.value}} readonly/></td>
         <td> <input id = "currentstock" label = "currentstock"  name = "currentstock"  value= {{ f.currentstock.value}} readonly/></td>
         <td><input id ="qty"  label = "qty" name= "qty" 	type ="number" value = "0" /></td>
         <td>{{ f.selected}}</td>
     </tr>
     
  {% endfor %}
 <!--  /table --> 
 </table>
 <div>
 
</div>

<br>
 <br><br>
<input id ="laptopmodelid" type ="submit" value = "submit"  style="width: 110px"/> 

</div>
</form>

<h1> order placed for {{ dtag.laptopmodel }}</h1>
<style>
   
   table {font-size:8pt;width:100%;color:blue;border:0px solid black;}
   td  {border:1px solid black;}
   input {width:50;color:blue;font-size:8pt;width:60px}
    .div-left{
    float:left;
    padding-left:10px;
    margin-left:20px
}
.div-right{
    float:right;
    padding-right:10px;
    margin-right:100px
}
.container{
     
    max-width:100%;
    border:1px solid salmon;
    
    padding-top:5px;
}

.td-log {width:90%

}
   </style>

