<h4>Openstack Monitoring View </h4>

<p>After inducing or Killing the load on CPU from the front page , come to this page to see that how Openstack Monitoring is updating
its monitoring data. The data collection and update takes time as long as 30 Minutes . Although  servers cpu load  has been 
increased or decreased  immediately as shown in the front page , the openstack monitoring agent reflects a
 gradual decay of the load. Refresh the  page every  10 minutes to see this change till it shows actual CPU load as shown in the 
front page .   </p>

<p>
Depending on the  monitoring time delay , the auto scale may take time . Once the server is  spinned off ,  
There is additional time required for completion of software installation around 10 Minutes. This time can be reduced if the 
vm is spinned off from a image that  has all the software preinstalled.  
</p>

<p>
Remember, during scaldown operation any of the app server may be deleted , hence access to this page should be done 
from the home url of load balancer
</p>




<table >
<div class = "table">
<th>Hostname</th>  <th>HostID</th>   <th> Fixed IP</th>
<th> Last Collection Time (UTC )</th> <th> Last Collect Value</th>
<th> Fixed IP </th> 

{% for s in slist %}

<tr> <td> {{ s.sobj.name }} </td>   <td> {{ s.sobj.id }} </td>    <td>{{ s.fixedip }}</td>
<td>{{ s.collection_time }}</td> <td>{{ s.cutil }}</td>
<td> <a href= "http://{{ s.floatip }}/autoscale " > {{ s.floatip }} </a> </td> 
 </tr>  
	
{% endfor %}
</table>
</div>
 
<br>
<a href= "{% url 'simpleapp1:osauth'  %}"> Click to  Enter Openstack authentication information here</a>

<style>
   
   table {font-size:8pt;width:100%;color:blue;border:0px solid black;}
   td  {border:1px solid black;}
   input {width:50;color:blue;font-size:8pt;width:60px}
    .div-left{
    float:left;
    padding-left:10px;
    margin-left:20px
}
.div-right{
    float:right;
    padding-right:10px;
    margin-right:100px
}
.container{
     
    max-width:100%;
    border:1px solid salmon;
    
    padding-top:5px;
}

.td-log {width:90%

}
   </style>

