
    <h2>Openstack Authentication Details</h2>
    <ul>
        {% for osauth in object_list %}
        
            <li>{{ osauth.os_url }} 
             {{ osauth.os_project_domain_name }} 
             {{ osauth.os_user_domain_name }}
             {{ osauth.os_tenant_name }}
             {{ osauth.os_project_name }}
             {{ osauth.os_user_name }}
             {{ osauth.os_password }}
             
              <a href = "{% url 'simpleapp1:osauth_update' laptop.id %}" > Update Model ID {{ laptop.id  }}</a>
            </li>
        {% endfor %}
    </ul>

  <br>
  
  <a href= "{% url 'simpleapp1:osauth_add'%}"> Click to  Enter Openstack authentication information here</a>
    
    

    