
 
<h2> Authentication information for your openstack cloud project</h2>
<ul>
<li>url os the keystone in the form of https://10.172.124.14:5000/v3 or http://10.172.100.14:5000/v3</li>
<li>From your VM  one of the above IP should be reachable and accordingly the url type need to be set as 
publicURL or internalURL</li>
<li>tenant name and project name is same </li>
<li> project domain name and user domain name is same  </li>
</ul>

    <h2>Openstack Authentication Details , only the first record with id= 1 is valid entry</h2>
    <table>
    <th> id></th>  <th> keystone url</th> <th> domain> </th> <th> u domain</th> <th> tenant </th>
    <th> project </th> <th> user name </th> <th> endpoit type </th> <th> stack id </th>
        {% for osauth in object_list %}
         <tr> 
            <td> {{ osauth.id }}</td>
             <td> {{ osauth.os_url }} </td>
              <td> {{ osauth.os_project_domain_name }} </td>
               <td>{{ osauth.os_user_domain_name }}</td>
          <td>{{ osauth.os_tenant_name }}</td>
               <td>{{ osauth.os_project_name }}</td>
               <td>{{ osauth.os_user_name }}</td>
               <td>{{ osauth.os_url_type }}</td>
               <td>{{ osauth.os_stack_id }}</td>
               <td><a href = "{% url 'simpleapp1:osauth_update' osauth.id %}" > Edit Authentication Detail {{ laptop.id  }}</a></td>
            </tr> 
        {% endfor %}
  <br>
  <a href= "{% url 'simpleapp1:osauth_add'%}"> Click to  Enter Openstack authentication information here</a>
  <a href= "{% url 'simpleapp1:openstack'%}"> Click to  view openstack monitoring data</a>

    
    

    
