<h4>Server Informatiom and CPU load </h4>
<table >
<div class = "table">

<tr> <td><p> Hostname</p></td>   <td><p> {{ hostname }} </p></td> </tr> 
<tr> <td><p>IP address</p></td>  <td><p> {{ ipaddr }} </p></td> </tr> 
<tr> <td><p> Current CPU Utilization  </p> </td>  <td><p> {{ cpu_util }} </p></td></tr> 
<tr> <td> Load Generator</td> <td><a href="cpuload/">To generate load on CPU  - click here</a></td></tr>
</table>
<br>
<a href= "{% url 'simpleapp1:osauth'  %}"> configure settings to view openstack monitoring  </a>
<a href= "{% url 'simpleapp1:openstack'  %}"> See  server utilization from openstack  cloud monitoring view </a>
</div>



<style>
   
   table {font-size:8pt;width:100%;color:blue;border:0px solid black;}
   td  {border:1px solid black;}
   input {width:50;color:blue;font-size:8pt;width:60px}
    .div-left{
    float:left;
    padding-left:10px;
    margin-left:20px
}
.div-right{
    float:right;
    padding-right:10px;
    margin-right:100px
}
.container{
     
    max-width:100%;
    border:1px solid salmon;
    
    padding-top:5px;
}

.td-log {width:90%

}
   </style>

